body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.form-group label {
	padding-top: 7px;
}

.full-width {
	width: 100%;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.form-group {
	clear: left;
	display: table;
	margin-bottom: 25px;
	width: 100%;
}

.checkbox, .radio {
	margin: 0;
}


.checkbox label, .radio label {
	padding-right: 20px;
}

.box-btn-pedido {
	text-align: right;
}

#lista-pedidos {
	margin-top: 140px;
	margin-bottom: 30px;
	border: 1.5px solid #ccc;
	padding: 10px;
}

#lista-pedidos .pedido {
	border-bottom: 1px solid #f0f0f0;
	padding: 5px 0;
}

#lista-pedidos .btn {
	float: right;
}

.box-valor-total-pedido{
	text-align: right;
}




